body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;   
  align-items: center;                   
  background: #f3f3f3;
  font-family: Arial, sans-serif;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  
}


h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: #1A2A4F;
}

.input {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.checkbox {
  margin-right: 10px;
}

button {
  margin: 15px 10px;
  background-color: #2c6d2a;
  border: none;
  padding: 8px 15px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: rgb(130, 150, 40);
}

.user-card {
  background: #fafafa;
  border: 1px solid #ddd;
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-card span {
  font-size: 16px;
}
.delete{
  background-color: rgb(168, 21, 21);
}
.edit{
  background-color: rgb(77, 98, 192);
}